/* PHASE 3: Layout */

.content { 
  width: 900px; 
  margin: auto; 
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}

.content:before { 
  content: "";
  position: absolute;
  top: 0; 
  left: 240px;
  width: 1px;
  height: 240px;
  background-color: #ccc; 
}

.content-main { 
  min-height: 200px; 
  width: 620px; 
  background-color: white;
  padding: 20px; 
  float: left;
}

.content-sidebar { 
  min-height: 200px; 
  width: 200px; 
  background-color: white; 
  padding: 20px;
  float: left; 
}

.group:after { 
  content: " "; 
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}